.md-nav__link[for] { color: var(--md-default-fg-color) !important }
.md-nav__title[for] { color: var(--md-default-fg-color) }
.md-typeset .admonition { font-size: .75rem; }
.md-header--shadow { background-color: RGB(240, 240, 240) }
.md-grid { max-width: 1920px; }
